@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";

    //Query that selects all <Speakers> items
    var speakerCount = Model.Content.Site().FirstChild("speakers").Children("speaker").Count();
    //Query that selects all <Workshops> items
    var workshopCount = Model.Content.Site().FirstChild("workshops").Children("workshop").Count();

}

<section class="resume-section p-3 d-flex d-column" id="home">

    <div class="row">

        <div class="col-md-12 p-0">
            @if (Model.Content.HasValue("bannerImage"))
            {
                <div id="bannerImage" style="background: url(@Url.GetCropUrl(Model.Content, propertyAlias: "bannerImage")) center center no-repeat;">
                    <div class="overlay"></div>
                    <img id="cgLogo" src="~/images/CodegardenLogo.png" />
                </div>                   
            }
        </div>

            <div class="col-md-4 countdown-content">
                <p>Codegarden18 starts in:</p>
                @{ 
                    var dateString = umbraco.library.FormatDateTime(Model.Content.GetPropertyValue("countdown").ToString(), "yyyy/MM/dd");
                }
                <script type="text/javascript">
                    var countdownDate = "@dateString";
                </script>
                <p id="countdown"></p>
            </div>
            <div class="col-md-4 countdown-content">
                <p>Speakers</p>
                <p><strong>@speakerCount</strong></p>
            </div>
            <div class="col-md-4 countdown-content">
                <p>Workshops</p>
                <p><strong>@workshopCount</strong></p>
            </div>
 

            <section id="frontpageLeft" class="col-md-6">
                @Umbraco.Field("bodyText")
                <br />
                <p id="frontpageTicket"> <strong>Ticket price: €700 ex. DK VAT</strong></p>

                <a id="frontpageBtn" class="btn btn-success btn-lg" href="https://shop.umbraco.com/shop/cart/?p=7133&n=963">Buy your ticket now</a>
            </section>

            <section id="frontpageRight" class="col-md-6">
                <h3> What you get</h3>
                <br />
                <ul>
                    <li>3 full days of Umbraco</li>
                    <li>A ton of amazing sessions</li>
                    <li>Great workshops</li>
                    <li>Lunch and dinner are included in the ticket</li>
                    <li>All the coffee, water and snacks you can handle</li>
                    <li>Social events (meaning we ain’t done when <br /> the sessions and workshops are!)</li>                    
                </ul>
                <br />
                <a id="frontpageBoss" href="https://codegarden18.com/media/1002/convince-your-boss-codegarden18.pdf">Convince your boss!</a>
            </section>

    </div>

</section>