@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<a class="navbar-brand svg-container" href="/">
    <span class="d-block">
        @if (Model.Content.HasValue("logo"))
        {
            <img class="logo" src="@Url.GetCropUrl(Model.Content, propertyAlias: "logo")" width="180"/>
        }
    </span>
</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
        <li class="nav-item @((Model.Content.IsAncestorOrSelf(Model.Content.Site())) ? " active" : string.Empty)">
            <a class="nav-link" title="About Codegarden" href="/">About</a>
        </li>
        @foreach (var page in Model.Content.Site().Children)
        {
        <li class="nav-item @((page.IsAncestorOrSelf(Model.Content)) ? " active" : string.Empty)">
            <a class="nav-link" title="@page.GetPropertyValue("menuDescription")" href="@page.Url">@page.GetPropertyValue("menuTitle")</a>
        </li>
        }
    </ul>
</div>